$red: #ff6060;
$grey: #f6f6f6;
$font: "Montserrat", sans-serif;

.profile {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  justify-content: flex-end;
  img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    @media (max-width: 1000px) {
      width: 50px;
      height: 50px;
    }
  }
  h2 {
    font-weight: normal;
    color: $red;
    padding-right: 1em;
    font-size: large;
  }
}
