header {
  width: 100%;
  height: 100px;
  display: flex;
  img {
    width: 200px;
    height: 70px;
    padding-left: 6em;
    margin-top: 1em;
    @media (max-width: 1000px) {
      width: 145px;
      height: 45px;
      padding-left: 0.5em;
    }
  }
}
