@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  position: absolute;
  right: 2em;
  top: 2em;
}
@media (max-width: 1000px) {
  nav {
    right: 0.5em;
  }
}
nav a {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
  text-decoration: none;
  margin-right: 1.5em;
}
