// fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

// variables
$red: #ff6060;
$grey: #f6f6f6;
$font: "Montserrat", sans-serif;

body {
  font-family: $font;
  padding: 0;
  margin: 0;
}

nav {
  position: absolute;
  right: 2em;
  top: 2em;
  @media (max-width: 1000px) {
    right: 0.5em;
  }
  a {
    font-family: $font;
    color: $red;
    text-decoration: none;
    margin-right: 1.5em;
  }
}

// section acceuil location
.accueil__location {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: $grey;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  @media (max-width: 1000px) {
    padding-top: 0em;
    background: none;
  }

  a {
    width: 340px;
    height: 340px;
    margin: 2em;
    @media (max-width: 1000px) {
      width: 100%;
      height: 260px;
      margin: 0.5em;
    }
  }
  &--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 2em;
    @media (max-width: 1000px) {
      padding-left: 0;
    }
  }
  p {
    color: white;
    position: absolute;
    bottom: 1em;
    left: 1em;
  }
}

// page error
.error_page {
  text-align: center;
  color: $red;
  h1 {
    font-size: 200px;
  }
  h2 {
    font-weight: normal;
    padding-bottom: 2em;
    @media (max-width: 1000px) {
      padding: 1em;
    }
  }
  a {
    color: $red;
  }
}

// a propos page

.a_propos_content {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  &-container {
    padding-bottom: 1.5em;
  }
}

// logement page

.logement {
  margin: 3em;
  &_title {
    color: $red;
    font-weight: normal;
    margin-bottom: 0;
  }
  &_location {
    color: $red;
    font-weight: normal;
    font-size: 1em;
    margin-top: 0;
  }
  .collapse_container {
    width: 50%;
    padding-right: 1em;
    padding-top: 1.5em;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }
  &_collapse {
    display: flex;
    flex-direction: row;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }
  &_tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .tag {
    margin-right: 1em;
  }
}

.logement_flex {
  width: 100%;
  position: relative;
  .logement_info {
    width: 50%;
  }
  .profile_ratings {
    position: absolute;
    top: 0;
    right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: right;
    @media (max-width: 1000px) {
      flex-direction: row-reverse;
      position: relative;
    }
  }
}
